<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.octest.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/bonjour</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Acceuil</servlet-name>
    <servlet-class>com.octest.Acceuil</servlet-class>
    <multipart-config>
      <location>C:\Users\User\fileTemp</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Acceuil</servlet-name>
    <url-pattern>/acceuil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Session</servlet-name>
    <servlet-class>com.octest.Session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestBdd</servlet-name>
    <servlet-class>com.octest.TestBdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestBdd</servlet-name>
    <url-pattern>/testbdd</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TestDao</servlet-name>
    <servlet-class>com.octest.TestDao</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>TestDao</servlet-name>
  <url-pattern>/testdao</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>